*{
    font-family:Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color: #F38D68;
}
th,td {
    border: 0.5px dashed black
}
/* selector de clase */
.song {
    background-color: #EE6C4D;
}
.song:hover {
    background-color: #662C91;
}
/* selector de id */
#songs{
    width: 100%;
}
.videomedia {
   width: 560px;
   height: 340px;
} 

#imgmedia {
    display: block;
    margin: auto;
    width:50%
    
}

.img-box {
    text-align: center;
}

.video-box {
    text-align: center;
}

.center {
    text-align: center;
}
header{
    position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px;
  width: 100%;
  height: 100%;

}
nav{
    background-color: rgb(235, 85, 93);
    border: 1px solid black;
    padding: 10px;
    margin: 0px;
    line-height: 90%;
}
nav>ul>li{
    list-style: circle;
    display: inline;
    font-size: 30px;
    padding: 10px 15px;

}
nav>ul>li:hover{
    background-color: rgb(197, 62, 62) ;

}
nav>ul>li>a{
    text-decoration: none;
    color: white;

}
a:visited{
    color: black;
}
h1{
    border: 1px solid black;
    padding: 25px 50px;
    background-color: rgb(236, 99, 57);
    color: white;
}
h2{
    border: 1px solid black;
    padding: 10px;
    background-color: grey;
    color: white;
}
form > h4{
    margin: 0px 0px 3px 8px;
}
input[type=text], input[type=email]{
    width: 90%;
    margin: 6px 10px 6px 0px;
}
input[type=submit]{
    background-color: rgb(111, 185, 214);
    width: 90%;
    margin: 0px 50px;
    padding: 10px ;
}
div.top {
    /* position: fixed;
    bottom: 8px;
    right: 8px;
    padding: 0px 10px;
    background-color: rgb(202, 214, 213);
    text-align: center; */
  }
  div.top>a{
      color: black;
      text-decoration: none;
      position: fixed;
      bottom: 8px;
      right: 8px;
      padding: 0px 10px;
      background-color: rgb(202, 214, 213);
      text-align: center;
  }
